<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <!--PatternLayout pattern="%-7d{HH:mm:ss,SSS} [%p] %c: %m%n"/-->
            <PatternLayout pattern="%-7d{HH:mm:ss.SSS} [%-40.40t] [%5.5p] %8c{1}: %m%n"/> 
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <Appender-ref ref="STDOUT"/>
        </Root>
        <Logger name="org.jgroups" level="trace"/>
    </Loggers>
</Configuration>
